.git
.github
**/.git
node_modules
**/node_modules
.pnpm-store
bin
build
data
envs
internal/static/dist
web/dist
web/dev-dist
docs/node_modules
docs/.vitepress/dist
docs/.vitepress/cache
*.log
.DS_Store
.idea
.vscode
